{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ article.title }}</h2>
                    </header>

                    <p>
                        {{ article.content }}
                    </p>

                    <small class="author">
                        Author: {{ article.author }}
                    </small>
                    <small class="date">
                        Created: {{ article.dateAdded|date("d-m-Y H:i:s") }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.GetUser().isAuthor(article) or app.getUser().isAdmin()) %}
                            <a class="btn btn-success btn-xs" href="{{ path('article_edit', {'id': article.id}) }}">
                                Edit
                            </a>
                            <a class="btn btn-danger btn-xs" href="{{ path('article_delete', {'id': article.id}) }}">
                                Delete
                            </a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">
                                back &raquo;
                            </a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
{% endblock %}