@using Microsoft.AspNet.Identity
@model SoftUniBlog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            Author: @Model.Author.FullName
        </small>
        <small>
            Last Edit: @Model.Date
        </small>
        <footer class="pull-right">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || Model.IsAuthor(User.Identity.GetUserId()))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new {@id = Model.Id}, new {@class = "btn btn-success btn-xs"})
                @Html.ActionLink("Delete", "Delete", "Article", new {@id = Model.Id}, new {@class = "btn btn-danger btn-xs"})
            }

            @Html.ActionLink("Back", "List", "Article", null, new {@class = "btn btn-default btn-xs"})
        </footer>
    </article>
</div>
<hr />